
<mat-card>
    <form (submit) = "onAddPost(postForm)" #postForm="ngForm"> 
        <mat-form-field>
            <input matInput type="text" placeholder = "Post Title" minlength="3" required name="title" #title="ngModel" ngModel>
            <mat-error *ngIf="title.invalid">Please enter a Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" placeholder = "Post Content" required name="content" #content="ngModel" ngModel></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post Content</mat-error>            
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Post</button>
    </form>
</mat-card>


<!-- <mat-card>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]= 'enteredTitle'>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" [(ngModel)] ='enteredContent'></textarea>
    </mat-form-field>
</mat-card>
<hr>
<button mat-raised-button
color = "primary"
(click) = "onAddPost()" >Save Post</button> -->

<!-- <p>{{ newPost }}</p> -->
